<div class="row mt-4">
  <div class="colt-md-6 mx-auto">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center">
          <span class="text-primary">
            <i class="fa fa-lock" aria-hidden="true"></i> Login Panel
          </span> Client
        </h1>

        <form (ngSubmit)="onLogin()">
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" [(ngModel)]="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" [(ngModel)]="password" class="form-control" id="password" placeholder="Password">
          </div>
          <input type="submit" value="Login" class="btn btn-primary btn-block">
          <button type="button" class="btn btn-danger btn-block" (click)="onLoginWithGoogle()">
            <i class="fa fa-google" aria-hidden="true"></i> Google account
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
